.MainInfoBox {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.MainInfo > p:first-child {
  font-size: 24px;
  margin-bottom: 12px;
}

.FormBox {
  width: 70%;
}

@media (max-width: 500px) {
  .MainInfoBox {
    flex-direction: column;
  }

  .FormBox {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .FormBox {
    width: 100%;
  }
}
