.Box {
  border-radius: 100px;
  /* border: 1px solid var(--color-blue); */
}

.Small {
  width: 64px;
  height: 64px;
}

.Medium {
  width: 128px;
  height: 128px;
}

.Large {
  width: 256px;
  height: 256px;
}
