.Box {
  border-radius: 100px;
  align-self: center;
  justify-self: center;
}

.Small {
  width: 64px;
  height: 64px;
}

.Medium {
  width: 128px;
  height: 128px;
}

.Large {
  width: 256px;
  height: 256px;
}

.FakeAvatarBox {
  font-size: 24px;
  background-color: var(--color-purple);
  color: var(--color-text-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
