.UserGridContainer {
  width: 100%;
  height: 100vh;

  display: grid;
  /* gap: 20px; */
  grid-template-columns: auto;
  grid-template-rows: 100px 80px 80vh auto;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'sidebar'
    'ad';
}

.BaseGridContainer {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header'
    'content';
}

.Header {
  grid-area: header;
}

.Content {
  grid-area: content;
  overflow: auto;
}

.Navbar {
  background-color: var(--color-purple-light-rgba-alfa1);
  grid-area: nav;
}

.Sidebar {
  background-color: var(--color-purple-light-rgba-alfa1);
  grid-area: sidebar;
}

.Adv {
  background-color: var(--color-purple-light-rgba-alfa1);
  grid-area: ad;
}

.Footer {
}

.HideNavbar {
  display: none;
  grid-area: nav;
}

.HideSidebar {
  display: none;
  grid-area: sidebar;
}

.HideAdv {
  display: none;
  grid-area: ad;
}

.HideFooter {
  display: none;
}

@media (min-width: 500px) {
  .UserGridContainer {
    grid-template-rows: 100px 80px auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'header  header'
      'nav     nav'
      'sidebar content'
      'ad      content';
  }
}

@media (min-width: 700px) {
  .UserGridContainer {
    grid-template-rows: 100px auto;
    grid-template-columns: 200px 3fr 1fr;
    grid-template-areas:
      'nav  header  header'
      'nav  content sidebar'
      'nav  content ad';
  }
}
