.UserGridContainer {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'navbar header header'
    'navbar content sidebar';
}

.BaseGridContainer {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header'
    'content';
}

.Header {
  grid-area: header;
  top: 0;
  border: 1px solid red;
  /* background-color: var(--color-background); */

  /* box-shadow: 0 14px 14px 20px var(--color-background); */
}

.Sidebar {
  grid-area: sidebar;
  border: 1px solid pink;
}

.SilentSidebar {
  grid-area: sidebar;
  display: none;
}

.Navbar {
  grid-area: navbar;
  border: 1px solid pink;
}

.SilentNavbar {
  grid-area: navbar;
  display: none;
}

.Content {
  grid-area: content;
  padding: 20px;
  overflow: auto;
  border: 1px solid blue;
}

.Footer {
  /* grid-area: footer; */
  border: 1px solid purple;
}
