.box {
  cursor: pointer;
}

.active {
  color: var(--color-primary);
}

.--color-primary {
  color: var(--color-primary);
}
.--color-background {
  color: var(--color-background);
}
.--color-text {
  color: var(--color-text);
}
.--color-secondary {
  color: var(--color-secondary);
}
.--color-accent {
  color: var(--color-accent);
}
