.box {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 -5px;

  cursor: pointer;
}

.flex-item {
  margin: 0 5px;
}

.svg-component {
}

.active {
  color: var(--color-secondary);
}

@media only screen and (max-width: 330px) {
  .svg-component {
    width: 20px;
    height: 20px;
  }

  .box {
    font-size: 14px;
  }
}
