.Box {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ContactBlock {
}

.SiteMapBlock {
}

.SocialMediaBlock {
}

@media (min-width: 630px) {
  .Box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 0 4vw;
  }
}
