.DualRing {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.DualRing:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
  animation: DualRing 1.2s linear infinite;
}

@keyframes DualRing {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.Medium:after {
  width: 128px;
  height: 128px;
  border: 12px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
}

.Large:after {
  width: 256px;
  height: 256px;
  border: 24px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
}