.DualRing {
  display: inline-block;
}

.DualRing:after {
  content: '';
  display: block;
  margin: 8px;
  border-radius: 50%;
  animation: rotate-ring 1.2s linear infinite;
}

.Small {
  width: 64px;
  height: 64px;
}

.Small:after {
  width: 64px;
  height: 64px;
  border: 6px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
}

.Medium {
  width: 128px;
  height: 128px;
}

.Medium:after {
  width: 128px;
  height: 128px;
  border: 12px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
}

.Large {
  width: 256px;
  height: 256px;
}

.Large:after {
  width: 256px;
  height: 256px;
  border: 24px solid var(--color-text);
  border-color: var(--color-text) transparent var(--color-text) transparent;
}

@keyframes rotate-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
