.Box {
  background-color: rgba(106, 75, 255, 0);
  color: var(--color-text-grey);
  cursor: pointer;
}

.Active {
  background-color: var(--color-purple);
  border-radius: 12px;
  color: var(--color-text-white);

  cursor: pointer;
}

.ItemBox {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 12px 8px;
}

.ItemBox svg {
  display: none;
}

@media (min-width: 700px) {
  .ItemBox svg {
    display: block;
  }
}
