.wrapper {
  width: 300px;
  height: 100vh;

  box-shadow: 0px 0px 14px rgba(96, 96, 96, 0.07),
    0px 0px 36px var(--color-accent);
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.active {
  color: var(--color-secondary);
}

.nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 14px;
  padding-top: 14px;
}

.gap24 {
  display: grid;

  gap: 24px;
}
