.FlexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 0 50px;
}

.LeftContent {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.LeftText {
  margin-left: 10px;
}

.RightContent {
  display: flex;
  align-items: center;
  gap: 30px;
}
