.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-purple-light-rgba-alfa1);
  padding: 10px 15px;
  width: 100%;

  gap: 10px;
}

.SearchElement {
  border: none;
  background: transparent;
  width: 95%;
  color: var(--color-text);
}
