.Box {
  width: 100%;
  border: 1px solid var(--color-text-grey);
  display: grid;
  grid-template-areas:
    'avatar full-name'
    'avatar email';

  border-radius: 20px;

  height: 80px;

  cursor: pointer;
}

.AvatarBox {
  grid-area: avatar;
}

.EmailBox {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 12px;
  align-self: start;
  grid-area: email;
}

.FullNameBox {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 18px;
  align-self: end;
  grid-area: full-name;
}
