.Input {
  width: 100%;
  border: none;
  border: 1.5px solid var(--color-accent);
  border-radius: 10px;
  background-color: var(--color-form-background);
  padding: 10px;
  color: var(--color-text);

  font-size: 14px;
  line-height: 24px;
}

/* .Input::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
}

.Input:before {
  content: '\f073';
  position: absolute;
  top: 47px;
  right: 14px;
  content: '\1F4C5';
  color: var(--color-text);
} */

.PositionRelative {
  position: relative;
}

.Input::placeholder,
.Input::-webkit-input-placeholder {
  color: var(--color-text-grey);
}

.Input:-ms-input-placeholder {
  color: var(--color-text-grey);
}

.Input:disabled {
  opacity: 0.3;
}

.Label {
  display: block;
  margin-bottom: 10px;
}

.Error {
  position: absolute;
  padding: 0;
  margin-top: 5px;
  color: var(--color-red);
  font-size: 12px;
}
