.ButtonWrapper {
  display: flex;
  justify-content: center;
}

.HiddenInput {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.InputLabel {
  /* display: flex;
  border: 1px solid #cbc8c5;
  border-radius: 6px;

  justify-content: center;
  align-items: center;
  padding: 6px 0;

  width: 120px;

  cursor: pointer; */
}
